header{
 background: #BBBBBB;
 padding: 20px 0;
}

.caixa {
    position:relative ;
    width: 940px;
    margin:0 auto;
}

nav li{
    display: inline ;
    margin: 0 0 0 15px;
}

nav a{
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none ;
}

nav a:hover{
    color: #888888;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

footer{
    background: url("bg.jpg") ;
    text-align: center;
    padding: 40px 0;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    padding: 15px 25px;
    margin: 0 0 10px;
    width: 50%;
    border-radius: 06px;
    border-width: 1px;
}

.checkbox{
    margin: 25px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: #BBBBBB;
    color: white;
    font-weight: bold; 
    font-size: 20px;
    border:none;
    border-radius: 06px;
    transition: 1s all;
}

.enviar:hover{
    background-color: #999999;
    transform: scale(1.1);
    
}